@typeparam TItem

<p>@testParagraph</p>

<p>Property Value: @_stateContainer.Property</p>

<p>
    <input type="number" @bind="testNumber"/>
</p>

<button @onclick="@(() => UpdateHandlerAsync("second"))">
    Update
</button>

<button @onclick="@(() => UpdatePropertyValueAsync())">
    Change Value
</button>

<ul>
    @foreach (var item in Items)
    {
        <li>@item</li>
    }
</ul>


